body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.header-bar-nav {
  margin: 0;
  border-radius: 0;
  background: #232323;
}

.navbar-default {
  border:none;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #2ba6cb;
  background-color: transparent;
}

.navbar-header span {
  color: #2ba6cb;
}

.header {
  background-image: url("banner.jpg");
  color: #fff;
  border-bottom: 5px solid #2ab6ca;
}

.htext {
  margin-top: 70px;
  margin-bottom: 20px;
}

.htext small {
  color: #fff;
}

.glyph {
  text-align: center;
  margin: 4% 5%;
}

.gly div {
  margin-top: 30px;
}

.glyph i {
  padding: 15px;
  border-radius: 100%;
  background-color: #2ab6cd;
}

.grey {
  background-color: #f9f8f8;
  text-align: center;
  padding: 2%;
}

.portfolio {
  margin-top: 3%;
}

.portfolio h4 {
  display: inline-block;
  margin-left: 5%;
}

.portfolio button {
  display: inline-block;
  margin-right: 5%;
}

.clients {
  background-color: #f9f8f8;
}

.clients ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.clients li {
  display: inline-block;
}

.manager {
  text-align: center;
}

.manager h3 {
  text-align: center;
  margin: 3% 0 80px;
}

.manager img {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  position: relative;
  display: block;
}

blockquote {
  border-left: 0;
  font-style: italic;
  color: #9c9c9c;
  padding: 0;
  font-size: 14px;
}

.aligncenter {
  border: 1px solid #f0f0f0;
  background-color: #fcfcfc;
  padding: 45px 10px 0 10px;
  margin-bottom: 55px;
}

.tm-thumbnail {
  position: absolute;
  bottom: 80%;
  left: 38%;
}

.footer {
  background-color: #1d2123;
  color: #8996A0;
}

.footertop {
  padding: 25px 0;
}

.footertop img {
  width: 53px;
  margin: 5px;
}

.liens a {
  text-decoration: none;
}

.liens a:hover {
  text-decoration: none;
  color: #2ab6cd;
}

.footerbot {
  background-color: #2f373b;
  text-align: center;
}

.barre {
   margin-bottom: 2%;
}

.up-arrow {
  background: #37878D;
  padding: 9px 14px;
  font-size: 2em;
  position: relative;
  color: #fff;
  bottom: 20px;
  transition: all 0.5s ease-in-out;
}

.up-arrow:hover {
  background: #f1f1f1;
  color: #333;
}

.social i {
  font-size: 25px;
  background-color: #848f97;
  color: #2f373b;
  padding: 12px;
  border-radius: 90px;
  margin: 10px 10px 10px 0;
  transition: all 0.5s ease-in-out;
}

.social i:hover {
  background: #f1f1f1;
}

.copyrights {
  padding: 15px 0 0px;
}
